@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Atkinson Hyperlegible", sans-serif;
}
